$max-content-width: 90rem;

.section {
  width: 100%;
  padding-block: 6vmin;
}

.container {
  width: 100%;
  margin: 0;
  padding-inline: max(.75rem, 3.125%);
}

.container-boxed {
  @extend .container;
  margin-inline: auto;
  padding-inline: clamp(.75rem, 3.125%, $max-content-width * 0.03125);
  max-width: 90rem;
}


