
@font-face {
  font-family: "Montserrat";
  src: local(''),  // Try local version first (empty string checks for exact name match)
       url('/font/montserrat-regular.woff2') format('woff2');
  font-weight: 400;  // Weight of font: Thin (100), Extra Light (200), Light (300), Regular (400), Medium (500), Semi Bold (600), Bold (700), Extra Bold (800), Black (900)
  font-style: normal;  // Options: normal, italic, oblique
  font-display: swap;  // Text remains visible during font loading
}

@font-face {
  font-family: "Montserrat";
  src: local(''),
       url('/font/montserrat-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local(''),
       url('/font/montserrat-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
