:root {
  --font-size-100: 0.75rem;
  --font-size-200: 0.875rem;
  --font-size-300: 1rem;
  --font-size-400: 1.25rem;
  --font-size-500: 1.5rem;
  --font-size-600: 2rem;
  --font-size-700: 2.5rem;
  --font-size-800: 3rem;
  --font-size-900: 4rem;
}
